<?xml version="1.0"?>

<launch>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
    <include file="$(find twist_to_rpm)/launch/twist_to_rpm.launch"/>
    <include file="$(find jetson_i2c)/launch/i2c_master.launch"/>
    <include file="$(find pid)/launch/Motor_Control.launch"/>
    <include file="$(find diff_odometry)/launch/diff_odometry.launch"/>
    <include file="$(find my_camera)/launch/elp.launch"/>

    <node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen"/>
    
    <arg name="model" />
    <arg name="gui" default="False" />
    <param name="robot_description" textfile="$(find simulation_watchdog)/urdf/watchdog.urdf" />
    <param name="use_gui" value="$(arg gui)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node
	name="tf_base_footprint_base_link"
	pkg="tf"
	type="static_transform_publisher"
	args="0 0 0.0509 0 0 0 base_footprint base_link 100" />

</launch> 
