<?xml version="1.0"?>

<launch>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
    <include file="$(find twist_to_rpm)/launch/twist_to_rpm.launch"/>
    <include file="$(find i2c)/launch/i2c.launch"/>
    <include file="$(find diff_odometry)/launch/diff_odometry.launch"/>

    <!--node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 0.034 0 0 0 base_footprint base_link 100"/-->
    <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster" args="0.03 0 0.046 0 0 0 base_link laser 100"/>

</launch> 
